---
import Layout from '../../layouts/Layout.astro';
import Payment from "../../components/payments/payment.svelte";

---


<Layout >
	<!-- <EventHeader client:visible/> -->
	<main>
		<Payment client:visible/>	
	</main>
</Layout>


<style>

	
</style>
