---
import Layout from '../../layouts/Layout.astro';
import Categories from "../../components/contests/categories.svelte";

---


<Layout >
	<main>
		<Categories client:visible/>	
	</main>
</Layout>


<style>

	
</style>
