---
import Layout from '../../layouts/Layout.astro';
import Contestants from "../../components/contests/contestants.svelte";

---


<Layout >
	<main>
		<Contestants client:visible/>	
	</main>
</Layout>


<style>

	
</style>
