---
import Layout from '../../layouts/Layout.astro';
import ContestList from "../../components/contests/contestList.svelte";

---


<Layout >
	<main>
		<ContestList client:visible/>	
	</main>
</Layout>


<style>

	
</style>
