---
import Layout from '../layouts/Layout.astro';
import AdminHome from "../components/admin/adminHome.svelte";

---


<Layout >
	<main>
		<AdminHome client:visible/>	
	</main>
</Layout>


<style>

	
</style>
