---
import Layout from '../layouts/Layout.astro';
import Home from "../components/home.svelte";
// import EventHeader from '../components/eventHeader.svelte';

---


<Layout >
	<!-- <EventHeader client:visible/> -->
	<main>
		<Home client:visible/>	
	</main>
</Layout>


<style>

	
</style>
