---
import Layout from '../../layouts/Layout.astro';
import EventLists from "../../components/events/eventList.svelte";

---


<Layout >
	<main>
		<EventLists client:visible/>	
	</main>
</Layout>


<style>

	
</style>
